html {
	height: 100vh;
}
body {
	height: 100vh;
	margin: 0;
}

.hidden { display: none!important; }

.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	align-content: stretch;

	height: 100%;
}
.flex-row {
	display: flex;

	height: 49vh;

	width: 99vw;
	margin: 0 auto;
}
.flex-item {
	width: 100%;
}



#dashboard {
	background: #555;
}
#dashboard .buttons {
	padding: 0.5vw;
}
#machine-map {
	padding: 0.5vw;
}
#machine-map .machine-item {
	display: inline-block;
	cursor: pointer;
	margin: 1vh;
}

.machine-item .box {
	border: 1px solid white;
}
.machine-item .machine-name {
	text-align: center;
	color: #eee;
	padding: 4px 5px;
	margin: 0;
}
.machine-item .machine-status {
	text-align: center;
	color: #eee;
	font-size: 9pt;
	padding: 3px 4px;
	margin: 0;
}
.machine-item .machine-ip {
	text-align: center;
	color: #ccc;
	font-family: Consolas;
	margin: 0;
	padding: 4px 5px;
}

.machine-status.aborted {
	color: yellow;
}
.machine-status.running {
	color: green;
}


#console {
	color: #eee;
	font-family: Consolas;
	background: #333;
}
#console-text {
	min-height: 95%;
	max-height: 95%;
    overflow-y: scroll;
}
#console-text p {
	margin: 0 1vw;
	white-space: pre;
}
#console-input {
	min-height: 5%;
}
#console-input input {
	display: block;
	padding: 3px 0;
	margin: 0;
	border: none;

	width: 100%;

	font-family: Consolas;
	font-size: 16px;
	color: #eee;
	background: #333;
	border-top: 2px solid #eee;
}
#console-input input:focus {
	outline: none;
}


.popup-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;

	background: rgba(1,1,1,0.5);
}
.popup-content {
	flex: 0 0 auto;

	width: 80%;
	height: 80%;

	background: rgba(255,255,255,1);
}
.popup-content form {
	padding: 3%;
}


/*
label {
	margin-bottom: 10%;
	display: block;
}
input {
	border-radius: 5px;
	border: 1px solid #444;
	padding: 5px;
}
input:focus {
	border-radius: 5px;
}
button.save {
	box-shadow: inset 0px 1px 0px 0px #d9fbbe;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background-color: #b8e356;
	border-radius: 5px;

	border: 1px solid #83c41a;
	display: inline-block;
	color: #ffffff;

	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 40px;
	line-height: 40px;
	width: 95px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #86ae47;
}

button.save:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	background-color: #a5cc52;
}

button.save:active {
	position: relative;
	top: 1px;
}
*/